.DS_Store

Cloud-of-Clouds-Policy.pdf
Cloud-of-Clouds.pdf
Marketplace_example_2021_04_09.pptx
cloud-of-clouds-example.pl
condpolicy1.pl
condpolicy2.pl
er_test1.pl
er_test2.pl
market_cond.pl
my_market_cond.pl
policy-examples.pptx
policy1.pl
policy3.pl
policy4.pl
policy4a.pl
policyCPP_1.pl
policyCPP_2.pl
policyCQ.pl
simple_roles.pl
